.novisual {
    display: none;
}

.stop {
    background: rgb(165, 70, 70);
} 

.start {
    background: rgb(94, 199, 94);
}

.train_them{
    background: #BCD0E5 ;
}
.game_them{
    background: rgb(231, 187, 159) ;
}